@use "base";

main {
    position: absolute;
    position: absolute;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    width: 75%;
    perspective: 800px;
}

.container {
    display: grid;
    grid-template-columns: 15rem auto;
    align-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 3rem 0.5rem;
    background: rgba(171, 0, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(171, 0, 255, 0.11);
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .link-heading {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            margin-bottom: 0.3rem;
            .heading-1 {
                font-size: 1.1rem;
            }
        }
        .contents {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            height: 100%;
        }
        .list {
            height: 100%;
            padding: 0.2rem;
            text-decoration: none;
            list-style: none;
            &__item {
                display: flex;
                align-items: center;
                gap: 0.3rem;
                color: rgb(255, 42, 77);
            }
        }
    }
    .about-me {
        height: 100%;
    }
    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        & > img {
            width: 100%;
            border-radius: 50%;
        }
    }
}

@media (max-width: 40em) {
    body {
        position: fixed;
    }
    main {
        width: 100%;
        height: 100%;
    }
    .container {
        grid-template-columns: auto;
        .avatar {
            width: 50%;
            justify-self: center;
        }
        .contents {
            flex-direction: column;
            .about-me {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            .list {
                height: auto;
            }
        }
    }
}
